<!DOCTYPE html>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">

            <p class="navbar-text pull-left">

                <a href="#!/profile" >
                    <span class="glyphicon glyphicon-arrow-left"></span>
                </a>


            </p>
            <div class="navbar-brand ">
                Profile





            </div>

            <p class="navbar-text pull-right">




            </p>
        </div>
    </div>
</nav>



<div class="container-fluid">
    <div ng-show="model.message" class="alert alert-success">
        {{model.message}}
    </div>

    <ul class="list-group">

        <li class="list-group-item active">
            <div class="row">
                <div class="col-lg-7 col-md-10 col-xs-11">
                    FollowingName
                </div>


                <div class="col-lg-5 col-md-2 col-xs-1">
                    <a href="#!/user/friend/new" style="color: #fff;">
                        <span class="glyphicon glyphicon-plus pull-right" > </span>
                    </a>


                </div>
            </div>
        </li>


        <li ng-repeat="following in model.followings" class="list-group-item">

        <div class="row">
            <div class="col-lg-6 col-md-6 col-xs-10">
                {{following.username}}




            </div>
            <div class="col-lg-3 col-md-3 col-xs-1 ">
                <a href="#!/user/friend/friendProfile/{{following._id}}">
                    <span class="glyphicon glyphicon-user pull-right" > </span>
                </a>
            </div>
            <div class="col-lg-3 col-md-3 col-xs-1 ">
                <a ng-click="model.cancelFollowing(model.userId, following._id, following.username)">
                    <span class="glyphicon glyphicon-remove-circle pull-right" > </span>
                </a>
            </div>


        </div>
    </li>










    </ul>
    <ul class="list-group">

        <li class="list-group-item active">
            <div class="row">
                <div class="col-lg-7 col-md-10 col-xs-11">
                    FollowerName
                </div>



            </div>
        </li>


        <li ng-repeat="follower in model.followers" class="list-group-item">

            <div class="row">
                <div class="col-lg-9 col-md-9 col-xs-11">


                    {{follower.username}}

                </div>

                <div class="col-lg-3 col-md-3 col-xs-1 ">
                    <a href="#!/user/friend/friendProfile/follower/{{follower._id}}">
                        <span class="glyphicon glyphicon-user pull-right" > </span>
                    </a>
                </div>






            </div>
        </li>








    </ul>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="row navbar-text">
            <div class="col-xs-3 text-center">
                <a href="#!/profile">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>
            <div class="col-xs-3 text-center">
                <a href="#">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </div>
            <div class="col-xs-3 text-center">
                <a href="#">
                    <span class="glyphicon glyphicon-star"></span>
                </a>
            </div>
            <div class="col-xs-3 text-center">
                <a href="#">
                    <span class="glyphicon glyphicon-heart"></span>
                </a>
            </div>
        </div>
    </div>
</nav>
