

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="row">
            <div class="navbar-brand col-sm-0">
                <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget" class="navbar-link">

                    <span class="glyphicon glyphicon-arrow-left pull-left" ></span>
                </a>
            </div>
            <div class="navbar-brand col-sm-4 hidden-xs">
                Image New





            </div>


            <div class="col-xs 3 pull-right" >
                <div class="navbar-brand col-sm-3">

                    <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget" class="navbar-link">
                        <span class="glyphicon glyphicon-ok pull-right" ></span>

                    </a>
                </div>
            </div>

        </div>
    </div>
    </div>
</nav>


<div class="container-fluid">

    <label for="name">Name</label>
    <input id="name"
           class="form-control"/>

    <label for="text">Text</label>
    <input id="text"
           class="form-control"/>
    <label > Upload </label>
    <form action="/api/upload/create"   method="post" enctype="multipart/form-data" >
        <input  name="myFile"    type="file" class="form-control"/>

        <input  name="userId"    value="{{model.userId}}"   style="display: none"/>
        <input  name="websiteId" value="{{model.websiteId}}"   style="display: none"/>
        <input  name="pageId"    value="{{model.pageId}}"   style="display: none"/>

        <button type="submit"    class="btn btn-block btn-primary form-control" >Create uploadImage</button>
    </form>

    <label for="url">URL</label>
    <input id="url"
           ng-model="model.imageUrl"
           class="form-control"/>

    <div class="input-group">
        <input ng-model="searchText" type="text" class="form-control">
        <span class="input-group-btn">
        <a ng-click="model.searchPhotos(searchText)" class="btn btn-default" type="button">
            <span class="glyphicon glyphicon-search"></span>
        </a>
    </span>
    </div>


    <!--<label for="file1">File Upload</label>-->
    <!--<input id="file1"-->
           <!--multiple-->
           <!--type="file"-->
           <!--class="form-control"/>-->

    <!--<select class="form-control">-->
        <!--<option value="1">1 (XL Large)</option>-->
        <!--<option value="2">2</option>-->
        <!--<option value="3">3</option>-->
        <!--<option value="4">4</option>-->
        <!--<option value="5">5</option>-->
        <!--<option value="6">6 (smallest)</option>-->
    <!--</select>-->




    <!--<label for="file">Upload</label>-->
    <!--<input id="file" multiple type="file" class="form-control"/>-->

    <a ng-click="model.createImageWidget(widget)"
       class="btn btn-block btn-success">Upload</a>

    <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget"
       class="btn btn-block btn-danger">Cancel</a>

</div>




<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="row navbar-text">
            <div class="col-xs-3 text-center">
                <a href="#!/user/{{model.userId}}">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>
            <div class="col-xs-3 text-center">
                <a href="#">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </div>
            <div class="col-xs-3 text-center">
                <a href="#">
                    <span class="glyphicon glyphicon-star"></span>
                </a>
            </div>
            <div class="col-xs-3 text-center">
                <a href="#">
                    <span class="glyphicon glyphicon-heart"></span>
                </a>
            </div>
        </div>
    </div>
</nav>

