

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="row">
            <div class="navbar-brand col-sm-0">
                <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget" class="navbar-link">

                    <span class="glyphicon glyphicon-arrow-left pull-left" ></span>
                </a>
            </div>
            <div class="navbar-brand col-sm-4 hidden-xs">
                Image Editor





            </div>


            <div class="col-xs 3 pull-right" >
                <div class="navbar-brand col-sm-3">

                    <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget" class="navbar-link">
                        <span class="glyphicon glyphicon-ok pull-right" ></span>

                    </a>
                </div>
            </div>

        </div>
    </div>
    </div>
</nav>


<div class="container-fluid">


    <label for="name">Name</label>
    <input id="name"

           class="form-control"/>

    <label for="text">Text</label>
    <input id="text"
           ng-model="model.widget.text"
           class="form-control"/>


    <a class="btn btn-info btn-block" href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{model.widgetId}}/search">
        Search
    </a>



    <label > Upload </label>
    <form action="/api/upload"   method="post" enctype="multipart/form-data" >
        <input  name="myFile"    type="file" class="form-control"/>
        <input  name="width"     value="{{model.widget.width}}" style="display: none"/>
        <input  name="userId"    value="{{model.userId}}"   style="display: none"/>
        <input  name="websiteId" value="{{model.websiteId}}"   style="display: none"/>
        <input  name="pageId"    value="{{model.pageId}}"   style="display: none"/>
        <input  name="widgetId"  value="{{model.widgetId}}"   style="display: none"/>
        <button type="submit"    class="btn btn-block btn-primary form-control" >Upload Image</button>
    </form>


    <label for="url">URL</label>
    <input id="url"
           ng-model="model.widget.url"
           class="form-control"/>









    <a ng-click="model.updateImageWidget(model.widget.url)"
       class="btn btn-block btn-success" class="form-control">Update</a>


    <a ng-click="model.deleteWidget(widget)"
       class="btn btn-block btn-danger">Delete</a>

</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="row navbar-text">
            <div class="col-xs-3 text-center">
                <a href="#!/user/{{model.userId}}">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>
            <div class="col-xs-3 text-center">
                <a href="#">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </div>
            <div class="col-xs-3 text-center">
                <a href="#">
                    <span class="glyphicon glyphicon-star"></span>
                </a>
            </div>
            <div class="col-xs-3 text-center">
                <a href="#">
                    <span class="glyphicon glyphicon-heart"></span>
                </a>
            </div>
        </div>
    </div>
</nav>

